.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1,h4{
color: white;
text-shadow: 2px 2px 5px black;
font-family: "Montserrat", sans-serif;
font-size: 25px;
}

body {
background-image: linear-gradient(to bottom right, white , blue);
}

.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: green;
border-radius: 50%;
position: center;
display: inline-block;
transition: background-color 0.6s ease;
}
.mySlides {
    display: none;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}
.text {
    font-size: 15px;
    padding: 8px 12px;
    position: center;
    width: 100%;
    text-align: center;
}
.slideshow-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}