table{
background-image: linear-gradient(pink, #FF00FF );
}
	table, th, td {
  		border: 1px solid;
		
			}

	h1{
	background-color: #FFF0F5;
	text-shadow: 2px 2px 5px black;
	color:pink;

}

h2{
background-color: #FFF0F5;
text-shadow: 2px 2px 5px black;
	color:pink;
}

h4{
background-color: #FFF0F5;
text-shadow: 2px 2px 5px black;
	color:violet;

}

h1, h2, h4{
	font-family: 'Playfair Display', serif;
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
	
}

img{
max-width: 700px;
  height: 500px;
border-style: outset;
 border-radius: 10px;

}


p, ol, li{
color: #4B0082;
border-style: inset;
background-image: linear-gradient(#FFF0F5, #FF00FF );


}

p1{
background-color:#FFF0F5;
color: pink;